/* ==========================================================================
   Blog styles - begin
   ========================================================================== */
/* common mixins - start */
/* common mixins - end */
/* mixins styles - start */
/* mixins styles - end */
/* ==========================================================================
   Blog Common style - begin
   ========================================================================== */
.edgtf-blog-holder {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  margin: 0 0 40px;
  clear: both;
}

.edgtf-blog-holder.edgtf-blog-single article.format-link, .edgtf-blog-holder.edgtf-blog-single article.format-quote {
  background-image: none;
}

.edgtf-blog-holder.edgtf-blog-single article.format-link .edgtf-post-content, .edgtf-blog-holder.edgtf-blog-single article.format-quote .edgtf-post-content {
  background-image: url(../../../../../assets/img/default_pattern.png);
  padding: 10px;
  margin-bottom: 25px;
  box-sizing: border-box;
}

.edgtf-blog-holder article {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  box-sizing: border-box;
}

.edgtf-blog-holder article.sticky .edgtf-post-title:before {
  content: '\e031';
  font-family: 'ElegantIcons';
  margin-right: 10px;
}

.edgtf-blog-holder article .edgtf-post-content {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
}

.edgtf-blog-holder article .edgtf-post-image {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
}

.edgtf-blog-holder article .edgtf-post-image img {
  display: block;
}

.edgtf-blog-holder article .edgtf-post-image-background {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  height: 100%;
  background-position: center;
  background-size: cover;
}

.edgtf-blog-holder article .edgtf-post-image-background a {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.edgtf-blog-holder article .edgtf-post-image-icon {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 30px;
  line-height: 1;
  color: #fff;
}

.edgtf-blog-holder article .edgtf-post-text {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  box-sizing: border-box;
}

.edgtf-blog-holder article .edgtf-post-title {
  margin: 0 0 4px;
}

.edgtf-blog-holder article .edgtf-post-excerpt-holder {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  margin: 15px 0 35px;
}

.edgtf-blog-holder article .edgtf-post-excerpt-holder p {
  margin: 0;
}

.edgtf-blog-holder article .edgtf-post-excerpt:after {
  content: '...';
}

.edgtf-blog-holder article .edgtf-more-link-container {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  margin: 15px 0 0;
}

.edgtf-blog-holder article .edgtf-post-info {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
}

.edgtf-blog-holder article .edgtf-post-info > * {
  position: relative;
  display: inline-block;
  vertical-align: top;
  color: currentColor;
}

.edgtf-blog-holder article .edgtf-post-info > * a {
  color: inherit;
}

.edgtf-blog-holder article .edgtf-post-info-top {
  margin-bottom: 2px;
}

.edgtf-blog-holder article .edgtf-post-info-top > div {
  position: relative;
  display: inline-block;
  vertical-align: top;
  padding: 0 9px 0 0;
  color: rgba(32, 32, 32, 0.6);
  font-family: "Roboto Condensed", sans-serif;
  font-size: 16px;
  font-weight: 300;
  text-transform: none;
  letter-spacing: 0.02em;
  line-height: 1.63em;
  font-style: italic;
}

.edgtf-blog-holder article .edgtf-post-info-top > div:after {
  content: '|';
  position: absolute;
  top: 0;
  right: 0;
  font-style: normal;
}

.edgtf-blog-holder article .edgtf-post-info-top > div:last-child {
  padding: 0;
}

.edgtf-blog-holder article .edgtf-post-info-top > div:last-child:after {
  content: '';
}

.edgtf-blog-holder article .edgtf-post-info-top > div a {
  color: inherit;
}

.edgtf-blog-holder article .edgtf-post-info-top > div a:hover {
  color: #202020;
}

.edgtf-blog-holder article .edgtf-post-info-bottom .edgtf-post-info-bottom-left,
.edgtf-blog-holder article .edgtf-post-info-bottom .edgtf-post-info-bottom-right {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
}

@media only screen and (min-width: 769px) {
  .edgtf-blog-holder article .edgtf-post-info-bottom .edgtf-post-info-bottom-left,
  .edgtf-blog-holder article .edgtf-post-info-bottom .edgtf-post-info-bottom-right {
    width: 50%;
  }
  .edgtf-blog-holder article .edgtf-post-info-bottom .edgtf-post-info-bottom-left {
    float: left;
  }
  .edgtf-blog-holder article .edgtf-post-info-bottom .edgtf-post-info-bottom-right {
    text-align: right;
    float: right;
  }
}

.edgtf-blog-holder article .edgtf-post-info-bottom .edgtf-post-info-bottom-right > div {
  margin-left: 17px;
}

.edgtf-blog-holder article .edgtf-post-info-bottom .edgtf-post-info-bottom-right > div:first-child {
  margin-left: 0;
}

.edgtf-blog-holder article.format-link {
  padding: 10px !important;
  background-image: url(../../../../../assets/img/default_pattern.png);
}

.edgtf-blog-holder article.format-link .edgtf-post-text {
  padding: 26px 43px;
  background-color: #fff;
}

.edgtf-blog-holder article.format-link .edgtf-post-text-main {
  display: table;
  table-layout: fixed;
  height: 100%;
  width: 100%;
  text-align: left;
}

.edgtf-blog-holder article.format-link .edgtf-link-title {
  margin: 17px 0 6px;
}

.edgtf-blog-holder article.format-link .edgtf-post-mark {
  right: 20px;
  top: 22px;
  position: absolute;
}

.edgtf-blog-holder article.format-link .edgtf-post-mark .edgtf-link-mark {
  padding-top: 5px;
  font-size: 36px;
  color: #202020;
}

.edgtf-blog-holder article.format-link .edgtf-post-link-holder {
  position: relative;
  display: table-cell;
  height: 100%;
  width: 100%;
  vertical-align: middle;
  vertical-align: top;
  text-align: left;
}

.edgtf-blog-holder article.format-quote {
  padding: 10px !important;
  background-image: url(../../../../../assets/img/default_pattern.png);
}

.edgtf-blog-holder article.format-quote .edgtf-post-text {
  padding: 26px 43px 26px;
  background-color: #fff;
}

.edgtf-blog-holder article.format-quote .edgtf-post-text-main {
  display: table;
  table-layout: fixed;
  height: 100%;
  width: 100%;
  text-align: left;
}

.edgtf-blog-holder article.format-quote .edgtf-quote-title {
  margin: 17px 0 6px;
}

.edgtf-blog-holder article.format-quote .edgtf-quote-author {
  margin-top: 19px;
  display: block;
}

.edgtf-blog-holder article.format-quote .edgtf-post-mark {
  position: relative;
  display: table-cell;
  height: 100%;
  width: 100%;
  vertical-align: middle;
  width: 50px;
  vertical-align: top;
  text-align: left;
}

.edgtf-blog-holder article.format-quote .edgtf-post-mark .edgtf-quote-mark {
  padding-top: 5px;
  font-size: 36px;
  color: #202020;
}

.edgtf-blog-holder article.format-quote .edgtf-post-link-holder {
  position: relative;
  display: table-cell;
  height: 100%;
  width: 100%;
  vertical-align: middle;
  vertical-align: top;
  text-align: left;
}

.edgtf-blog-holder article.format-quote .edgtf-post-author {
  display: inline-block;
  margin-bottom: 23px;
  font-size: 13px;
  line-height: 20px;
}

.edgtf-blog-holder article.format-gallery .edgtf-post-image {
  width: 100%;
}

.edgtf-blog-holder article.format-gallery .owl-carousel .owl-item {
  z-index: 2;
}

.edgtf-blog-holder article.format-gallery .owl-carousel .owl-item.active {
  z-index: 3;
}

.edgtf-blog-holder article.format-gallery .edgtf-owl-slider .owl-nav .owl-prev {
  left: -15px;
}

.edgtf-blog-holder article.format-gallery .edgtf-owl-slider .owl-nav .owl-next {
  right: -15px;
}

.edgtf-blog-holder article.format-audio.has-post-thumbnail .edgtf-post-heading {
  position: relative;
}

.edgtf-blog-holder article.format-audio.has-post-thumbnail .edgtf-blog-audio-holder {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: inline-block;
  vertical-align: middle;
}

.edgtf-blog-holder article.format-audio .edgtf-post-image {
  width: 100%;
  max-width: inherit;
}

.edgtf-blog-holder article.format-audio .edgtf-post-image img {
  width: 100%;
}

.edgtf-blog-holder article.format-audio .edgtf-blog-audio-holder .mejs-container, .edgtf-blog-holder article.format-audio .edgtf-blog-audio-holder .mejs-embed, .edgtf-blog-holder article.format-audio .edgtf-blog-audio-holder .mejs-embed body, .edgtf-blog-holder article.format-audio .edgtf-blog-audio-holder .mejs-container .mejs-controls {
  background: none;
}

.edgtf-blog-holder article.format-audio .edgtf-blog-audio-holder .mejs-container {
  background-color: #f3f3f3;
}

.edgtf-blog-holder article.format-audio .edgtf-blog-audio-holder .mejs-container,
.edgtf-blog-holder article.format-audio .edgtf-blog-audio-holder .mejs-container .mejs-controls {
  height: 32px !important;
}

.edgtf-blog-holder article.format-audio .edgtf-blog-audio-holder .mejs-container .mejs-controls {
  padding: 0 10px 0 4px;
  box-sizing: border-box;
}

.edgtf-blog-holder article.format-audio .edgtf-blog-audio-holder .mejs-container .mejs-controls > .mejs-playpause-button {
  width: 39px;
}

.edgtf-blog-holder article.format-audio .edgtf-blog-audio-holder .mejs-container .mejs-controls > .mejs-volume-button {
  width: 30px;
}

.edgtf-blog-holder article.format-audio .edgtf-blog-audio-holder .mejs-container .mejs-controls > .mejs-playpause-button,
.edgtf-blog-holder article.format-audio .edgtf-blog-audio-holder .mejs-container .mejs-controls > .mejs-volume-button {
  height: 32px;
}

.edgtf-blog-holder article.format-audio .edgtf-blog-audio-holder .mejs-container .mejs-controls > .mejs-playpause-button button,
.edgtf-blog-holder article.format-audio .edgtf-blog-audio-holder .mejs-container .mejs-controls > .mejs-volume-button button {
  position: relative;
  height: 100%;
  background: none;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  border: 0;
  outline: none;
}

.edgtf-blog-holder article.format-audio .edgtf-blog-audio-holder .mejs-container .mejs-controls > .mejs-playpause-button.mejs-play button,
.edgtf-blog-holder article.format-audio .edgtf-blog-audio-holder .mejs-container .mejs-controls > .mejs-volume-button.mejs-play button {
  width: 39px;
  background-image: url("../img/audio/play.png");
}

.edgtf-blog-holder article.format-audio .edgtf-blog-audio-holder .mejs-container .mejs-controls > .mejs-playpause-button.mejs-pause button,
.edgtf-blog-holder article.format-audio .edgtf-blog-audio-holder .mejs-container .mejs-controls > .mejs-volume-button.mejs-pause button {
  width: 39px;
  background-image: url("../img/audio/pause.png");
}

.edgtf-blog-holder article.format-audio .edgtf-blog-audio-holder .mejs-container .mejs-controls > .mejs-playpause-button.mejs-stop button,
.edgtf-blog-holder article.format-audio .edgtf-blog-audio-holder .mejs-container .mejs-controls > .mejs-volume-button.mejs-stop button {
  width: 39px;
  background-image: url("../img/audio/stop.png");
}

.edgtf-blog-holder article.format-audio .edgtf-blog-audio-holder .mejs-container .mejs-controls > .mejs-playpause-button.mejs-mute button,
.edgtf-blog-holder article.format-audio .edgtf-blog-audio-holder .mejs-container .mejs-controls > .mejs-volume-button.mejs-mute button {
  width: 30px;
  background-image: url("../img/audio/sound.png");
}

.edgtf-blog-holder article.format-audio .edgtf-blog-audio-holder .mejs-container .mejs-controls > .mejs-playpause-button.mejs-unmute button,
.edgtf-blog-holder article.format-audio .edgtf-blog-audio-holder .mejs-container .mejs-controls > .mejs-volume-button.mejs-unmute button {
  width: 30px;
  background-image: url("../img/audio/mute.png");
}

.edgtf-blog-holder article.format-audio .edgtf-blog-audio-holder .mejs-container .mejs-controls > .mejs-time {
  height: 100%;
  padding: 0;
  font-family: inherit;
  font-size: 13px;
  color: rgba(23, 23, 23, 0.7);
  line-height: 36px;
}

.edgtf-blog-holder article.format-audio .edgtf-blog-audio-holder .mejs-container .mejs-controls > .mejs-time-rail {
  height: 100%;
  padding: 0;
  font-family: inherit;
}

.edgtf-blog-holder article.format-audio .edgtf-blog-audio-holder .mejs-container .mejs-controls > .mejs-time-rail .mejs-time-total {
  height: 5px;
  margin: 15px 14px;
  background: none;
  background-color: #e8e8e8;
}

.edgtf-blog-holder article.format-audio .edgtf-blog-audio-holder .mejs-container .mejs-controls > .mejs-time-rail .mejs-time-total .mejs-time-current {
  height: 5px;
  background-color: #202020;
}

.edgtf-blog-holder article.format-audio .edgtf-blog-audio-holder .mejs-container .mejs-controls > .mejs-time-rail .mejs-time-total .mejs-time-float {
  top: -14px;
  border: 0;
  color: #fff;
}

.edgtf-blog-holder article.format-audio .edgtf-blog-audio-holder .mejs-container .mejs-controls > .mejs-time-rail .mejs-time-total .mejs-time-float .mejs-time-float-corner {
  border-top-color: #202020;
}

.edgtf-blog-holder article.format-audio .edgtf-blog-audio-holder .mejs-container .mejs-controls > .mejs-time-rail .mejs-time-total .mejs-time-loaded,
.edgtf-blog-holder article.format-audio .edgtf-blog-audio-holder .mejs-container .mejs-controls > .mejs-time-rail .mejs-time-total .mejs-time-float {
  background: none;
}

.edgtf-blog-holder article.format-audio .edgtf-blog-audio-holder .mejs-container .mejs-controls > a.mejs-horizontal-volume-slider {
  height: 32px;
}

.edgtf-blog-holder article.format-audio .edgtf-blog-audio-holder .mejs-container .mejs-controls > a.mejs-horizontal-volume-slider .mejs-horizontal-volume-total,
.edgtf-blog-holder article.format-audio .edgtf-blog-audio-holder .mejs-container .mejs-controls > a.mejs-horizontal-volume-slider .mejs-horizontal-volume-current {
  height: 5px;
  top: 15px;
  background: none;
}

.edgtf-blog-holder article.format-audio .edgtf-blog-audio-holder .mejs-container .mejs-controls > a.mejs-horizontal-volume-slider .mejs-horizontal-volume-total {
  background-color: #e8e8e8;
}

.edgtf-blog-holder article.format-audio .edgtf-blog-audio-holder .mejs-container .mejs-controls > a.mejs-horizontal-volume-slider .mejs-horizontal-volume-current {
  background-color: #202020;
}

.edgtf-blog-holder article.format-video .edgtf-self-hosted-video {
  max-width: 100%;
}

/* ==========================================================================
   Blog Common style - end
   ========================================================================== */
/* ==========================================================================
   Blog Masonry general style - begin
   ========================================================================== */
.edgtf-blog-holder.edgtf-blog-type-masonry {
  /***** Number of Columns - begin *****/
  /***** Number of Columns - end *****/
  /***** Space on container if full width - start *****/
  /***** Space on container if full width - end *****/
}

.edgtf-blog-holder.edgtf-blog-type-masonry .edgtf-blog-holder-inner {
  opacity: 0;
}

.edgtf-blog-holder.edgtf-blog-type-masonry article {
  float: left;
}

.edgtf-blog-holder.edgtf-blog-type-masonry article,
.edgtf-blog-holder.edgtf-blog-type-masonry .edgtf-blog-masonry-grid-sizer {
  width: 100%;
}

.edgtf-blog-holder.edgtf-blog-type-masonry .edgtf-blog-masonry-grid-gutter {
  width: 0;
}

.edgtf-blog-holder.edgtf-blog-type-masonry.edgtf-blog-two-columns article,
.edgtf-blog-holder.edgtf-blog-type-masonry.edgtf-blog-two-columns .edgtf-blog-masonry-grid-sizer {
  width: 50%;
}

.edgtf-blog-holder.edgtf-blog-type-masonry.edgtf-blog-two-columns article.edgtf-post-size-large-width, .edgtf-blog-holder.edgtf-blog-type-masonry.edgtf-blog-two-columns article.edgtf-post-size-large-width-height {
  width: 100%;
}

.edgtf-blog-holder.edgtf-blog-type-masonry.edgtf-blog-three-columns article,
.edgtf-blog-holder.edgtf-blog-type-masonry.edgtf-blog-three-columns .edgtf-blog-masonry-grid-sizer {
  width: 33.33333%;
}

.edgtf-blog-holder.edgtf-blog-type-masonry.edgtf-blog-three-columns article.edgtf-post-size-large-width, .edgtf-blog-holder.edgtf-blog-type-masonry.edgtf-blog-three-columns article.edgtf-post-size-large-width-height {
  width: 66.66667%;
}

.edgtf-blog-holder.edgtf-blog-type-masonry.edgtf-blog-four-columns article,
.edgtf-blog-holder.edgtf-blog-type-masonry.edgtf-blog-four-columns .edgtf-blog-masonry-grid-sizer {
  width: 25%;
}

.edgtf-blog-holder.edgtf-blog-type-masonry.edgtf-blog-four-columns article.edgtf-post-size-large-width, .edgtf-blog-holder.edgtf-blog-type-masonry.edgtf-blog-four-columns article.edgtf-post-size-large-width-height {
  width: 50%;
}

.edgtf-blog-holder.edgtf-blog-type-masonry.edgtf-blog-five-columns article,
.edgtf-blog-holder.edgtf-blog-type-masonry.edgtf-blog-five-columns .edgtf-blog-masonry-grid-sizer {
  width: 20%;
}

.edgtf-blog-holder.edgtf-blog-type-masonry.edgtf-blog-five-columns article.edgtf-post-size-large-width, .edgtf-blog-holder.edgtf-blog-type-masonry.edgtf-blog-five-columns article.edgtf-post-size-large-width-height {
  width: 40%;
}

.edgtf-blog-holder.edgtf-blog-type-masonry.edgtf-blog-masonry-full-width {
  box-sizing: border-box;
}

.edgtf-blog-holder.edgtf-blog-type-masonry.edgtf-blog-masonry-full-width.edgtf-no-space {
  padding: 0 0px;
}

.edgtf-blog-holder.edgtf-blog-type-masonry.edgtf-blog-masonry-full-width.edgtf-tiny-space {
  padding: 0 10px;
}

.edgtf-blog-holder.edgtf-blog-type-masonry.edgtf-blog-masonry-full-width.edgtf-small-space {
  padding: 0 20px;
}

.edgtf-blog-holder.edgtf-blog-type-masonry.edgtf-blog-masonry-full-width.edgtf-normal-space {
  padding: 0 30px;
}

.edgtf-blog-holder.edgtf-blog-type-masonry.edgtf-blog-masonry-full-width.edgtf-medium-space {
  padding: 0 40px;
}

.edgtf-blog-holder.edgtf-blog-type-masonry.edgtf-blog-masonry-full-width.edgtf-large-space {
  padding: 0 50px;
}

/* ==========================================================================
   Blog Masonry general style - end
   ========================================================================== */
/* ==========================================================================
   Blog List - Masonry style - begin
   ========================================================================== */
.edgtf-blog-holder.edgtf-blog-masonry article {
  margin: 0 0 20px;
  padding: 0 0 30px;
}

.edgtf-blog-holder.edgtf-blog-masonry article.edgtf-post-has-media .edgtf-post-heading {
  margin-bottom: 30px;
}

/* ==========================================================================
   Blog List - Masonry style - end
   ========================================================================== */
/* ==========================================================================
   Blog List - Standard style - begin
   ========================================================================== */
.edgtf-blog-holder.edgtf-blog-standard article {
  margin: 0 0 82px;
  padding: 0;
}

.edgtf-blog-holder.edgtf-blog-standard article.edgtf-post-has-media .edgtf-post-heading {
  margin-bottom: 35px;
}

/* ==========================================================================
   Blog List - Standard style - end
   ========================================================================== */
/* Single author box styles - begin
	====================================================================== */
.edgtf-author-description {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  padding: 0;
  background-color: #fafafa;
  text-align: center;
  box-sizing: border-box;
}

.edgtf-author-description .edgtf-author-description-inner {
  padding: 41px 0 39px;
  min-height: 78px;
  clear: both;
}

.edgtf-author-description .edgtf-author-description-content {
  position: relative;
  padding: 0 30px;
}

.edgtf-author-description .edgtf-author-description-image {
  width: 78px;
  margin: 0 auto;
}

.edgtf-author-description .edgtf-author-description-image img {
  display: block;
  border-radius: 5em;
}

.edgtf-author-description .edgtf-author-description-text-holder {
  position: relative;
  padding: 4px 0;
}

.edgtf-author-description .edgtf-author-description-text-holder .edgtf-author-name {
  margin: 0;
}

.edgtf-author-description .edgtf-author-description-text-holder .edgtf-author-name a {
  color: #202020;
}

.edgtf-author-description .edgtf-author-description-text-holder .edgtf-author-name a:hover {
  color: #202020;
}

.edgtf-author-description .edgtf-author-description-text-holder .edgtf-author-email {
  margin: 0;
}

.edgtf-author-description .edgtf-author-description-text-holder .edgtf-author-text {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
}

.edgtf-author-description .edgtf-author-description-text-holder .edgtf-author-text > p {
  margin: 17px 0 14px;
}

.edgtf-author-description .edgtf-author-description-text-holder .edgtf-author-social-icons {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
}

.edgtf-author-description .edgtf-author-description-text-holder .edgtf-author-social-icons a {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  padding: 0;
  margin: 0 15px 0 0;
  font-size: 11px;
  color: #202020;
}

.edgtf-author-description .edgtf-author-description-text-holder .edgtf-author-social-icons a:last-child {
  margin: 0;
}

.edgtf-author-description .edgtf-author-description-text-holder .edgtf-author-social-icons a:hover {
  color: #202020;
}

@media only screen and (max-width: 768px) {
  .edgtf-author-description .edgtf-author-description-content {
    padding: 0;
  }
  .edgtf-author-description .edgtf-author-description-image {
    display: block;
    width: 100%;
  }
  .edgtf-author-description .edgtf-author-description-text-holder {
    display: block;
    padding: 0;
    margin-top: 30px;
  }
}

/* Single author box styles - end
	====================================================================== */
/* ==========================================================================
   Blog pagination standard style - begin
   ========================================================================== */
.edgtf-blog-pagination-wp {
  display: none;
}

.edgtf-blog-pagination {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  margin: 20px 0 30px;
  clear: both;
}

.edgtf-blog-pagination ul {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}

.edgtf-blog-pagination ul li {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin: 0 6px;
}

.edgtf-blog-pagination ul li a {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  padding: 0;
}

.edgtf-blog-pagination ul li a.edgtf-pag-active {
  color: #202020;
}

.edgtf-blog-pagination ul li.edgtf-pag-prev, .edgtf-blog-pagination ul li.edgtf-pag-next, .edgtf-blog-pagination ul li.edgtf-pag-first, .edgtf-blog-pagination ul li.edgtf-pag-last {
  top: -1px;
  margin: 0;
}

.edgtf-blog-pagination ul li.edgtf-pag-prev a, .edgtf-blog-pagination ul li.edgtf-pag-next a, .edgtf-blog-pagination ul li.edgtf-pag-first a, .edgtf-blog-pagination ul li.edgtf-pag-last a {
  font-size: 19px;
}

.edgtf-blog-pagination ul li.edgtf-pag-prev a span, .edgtf-blog-pagination ul li.edgtf-pag-next a span, .edgtf-blog-pagination ul li.edgtf-pag-first a span, .edgtf-blog-pagination ul li.edgtf-pag-last a span {
  display: block;
  line-height: inherit;
}

.edgtf-blog-pagination ul li.edgtf-pag-prev a span:before, .edgtf-blog-pagination ul li.edgtf-pag-next a span:before, .edgtf-blog-pagination ul li.edgtf-pag-first a span:before, .edgtf-blog-pagination ul li.edgtf-pag-last a span:before {
  display: block;
  line-height: inherit;
}

/* ==========================================================================
   Blog pagination standard style - end
   ========================================================================== */
/* ==========================================================================
   Blog List shortcode pagination standard style - begin
   ========================================================================== */
.edgtf-blog-list-holder.edgtf-bl-pag-standard-blog-list .edgtf-blog-list {
  opacity: 1;
  -webkit-transition: opacity 0.2s ease-out;
  -moz-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out;
}

.edgtf-blog-list-holder.edgtf-bl-pag-standard-blog-list.edgtf-bl-pag-standard-blog-list-animate .edgtf-blog-list {
  opacity: 0;
}

.edgtf-bl-standard-pagination {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  margin: 20px 0 0;
  clear: both;
}

.edgtf-bl-standard-pagination ul {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}

.edgtf-bl-standard-pagination ul li {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin: 0 12px;
  padding: 0;
}

.edgtf-bl-standard-pagination ul li a {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  padding: 0;
}

.edgtf-bl-standard-pagination ul li.edgtf-bl-pag-active a {
  color: #202020;
}

.edgtf-bl-standard-pagination ul li.edgtf-bl-pag-prev, .edgtf-bl-standard-pagination ul li.edgtf-bl-pag-next {
  position: absolute;
  top: 0;
}

.edgtf-bl-standard-pagination ul li.edgtf-bl-pag-prev a, .edgtf-bl-standard-pagination ul li.edgtf-bl-pag-next a {
  font-size: 30px;
  -webkit-transition: color 0.2s ease-out, opacity 0.2s ease-out;
  -moz-transition: color 0.2s ease-out, opacity 0.2s ease-out;
  transition: color 0.2s ease-out, opacity 0.2s ease-out;
}

.edgtf-bl-standard-pagination ul li.edgtf-bl-pag-prev a span, .edgtf-bl-standard-pagination ul li.edgtf-bl-pag-next a span {
  display: block;
  line-height: inherit;
}

.edgtf-bl-standard-pagination ul li.edgtf-bl-pag-prev a span:before, .edgtf-bl-standard-pagination ul li.edgtf-bl-pag-next a span:before {
  display: block;
  line-height: inherit;
}

.edgtf-bl-standard-pagination ul li.edgtf-bl-pag-prev {
  left: 0;
}

.edgtf-bl-standard-pagination ul li.edgtf-bl-pag-prev a {
  opacity: 0;
}

.edgtf-bl-standard-pagination ul li.edgtf-bl-pag-next {
  right: 0;
}

.edgtf-bl-standard-pagination ul li.edgtf-bl-pag-next a {
  opacity: 1;
}

/* ==========================================================================
   Blog List shortcode pagination standard style - end
   ========================================================================== */
/* ==========================================================================
   Blog pagination load more style - begin
   ========================================================================== */
.edgtf-blog-pag-load-more {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  margin: 40px 0 30px;
  text-align: center;
}

/* ==========================================================================
   Blog pagination load more style - end
   ========================================================================== */
/* ==========================================================================
   Blog pagination loading element style - begin
   ========================================================================== */
.edgtf-blog-pag-loading {
  position: relative;
  display: none;
  width: 100%;
  margin: 40px 0 20px;
  color: #202020;
  text-align: center;
}

.edgtf-blog-pag-loading.edgtf-standard-pag-trigger {
  position: absolute;
  top: 50px;
  left: 0;
}

.edgtf-blog-pag-loading.edgtf-showing {
  display: block;
}

.edgtf-blog-pag-loading > div {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 14px;
  height: 14px;
  margin: 0 3px;
  background-color: #202020;
  border-radius: 100%;
  -webkit-animation: bl-pag-bouncedelay 1.4s infinite ease-in-out both;
  -moz-animation: bl-pag-bouncedelay 1.4s infinite ease-in-out both;
  animation: bl-pag-bouncedelay 1.4s infinite ease-in-out both;
}

.edgtf-blog-pag-loading .edgtf-blog-pag-bounce1 {
  -webkit-animation-delay: -0.32s;
  -moz-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.edgtf-blog-pag-loading .edgtf-blog-pag-bounce2 {
  -webkit-animation-delay: -0.16s;
  -moz-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes bl-pag-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
  }
}

@-moz-keyframes bl-pag-bouncedelay {
  0%, 80%, 100% {
    -moz-transform: scale(0);
  }
  40% {
    -moz-transform: scale(1);
  }
}

@keyframes bl-pag-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

/* ==========================================================================
   Blog pagination loading element style - end
   ========================================================================== */
/* Single posts navigation styles - begin
    ====================================================================== */
.edgtf-blog-single-navigation {
  position: relative;
  display: table;
  width: 100%;
  vertical-align: middle;
  padding: 0;
  clear: both;
  box-sizing: border-box;
}

.edgtf-blog-single-navigation .edgtf-blog-single-navigation-inner {
  padding: 78px 0 30px;
}

.edgtf-blog-single-navigation .edgtf-blog-single-prev,
.edgtf-blog-single-navigation .edgtf-blog-single-next {
  color: #4c4c4c;
}

.edgtf-blog-single-navigation .edgtf-blog-single-prev .edgtf-blog-single-nav-mark,
.edgtf-blog-single-navigation .edgtf-blog-single-next .edgtf-blog-single-nav-mark {
  font-size: 48px;
  line-height: inherit;
  color: inherit;
}

.edgtf-blog-single-navigation .edgtf-blog-single-prev .edgtf-blog-single-nav-mark:before,
.edgtf-blog-single-navigation .edgtf-blog-single-next .edgtf-blog-single-nav-mark:before {
  display: block;
  line-height: inherit;
}

.edgtf-blog-single-navigation .edgtf-blog-single-prev .edgtf-blog-single-nav-label,
.edgtf-blog-single-navigation .edgtf-blog-single-next .edgtf-blog-single-nav-label {
  color: inherit;
}

.edgtf-blog-single-navigation .edgtf-blog-single-prev:hover,
.edgtf-blog-single-navigation .edgtf-blog-single-next:hover {
  color: #202020;
}

.edgtf-blog-single-navigation .edgtf-blog-single-prev {
  float: left;
}

.edgtf-blog-single-navigation .edgtf-blog-single-prev .edgtf-blog-single-nav-mark,
.edgtf-blog-single-navigation .edgtf-blog-single-prev .edgtf-blog-single-nav-label {
  float: left;
}

.edgtf-blog-single-navigation .edgtf-blog-single-prev .edgtf-blog-single-nav-mark {
  margin: 0 14px 0 0;
}

.edgtf-blog-single-navigation .edgtf-blog-single-next {
  float: right;
}

.edgtf-blog-single-navigation .edgtf-blog-single-next .edgtf-blog-single-nav-mark,
.edgtf-blog-single-navigation .edgtf-blog-single-next .edgtf-blog-single-nav-label {
  float: right;
}

.edgtf-blog-single-navigation .edgtf-blog-single-next .edgtf-blog-single-nav-mark {
  margin: 0 0 0 14px;
}

.edgtf-single-links-pages {
  clear: both;
  margin: 5px 0;
}

.edgtf-single-links-pages .edgtf-single-links-pages-inner > a,
.edgtf-single-links-pages .edgtf-single-links-pages-inner > span {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 15px 5px 0;
}

/* Single posts navigation styles - end
    ====================================================================== */
/* Related posts styles - begin
	====================================================================== */
.edgtf-related-posts-holder {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  padding: 0;
  box-sizing: border-box;
}

.edgtf-related-posts-holder .edgtf-related-posts-holder-inner {
  padding: 46px 0 26px;
}

.edgtf-related-posts-holder .edgtf-related-posts-title {
  margin: 0 0 40px;
}

.edgtf-related-posts-holder .edgtf-related-posts-title > * {
  margin: 0;
}

.edgtf-related-posts-holder .edgtf-related-posts-inner {
  margin: 0 -15px;
}

.edgtf-related-posts-holder .edgtf-related-post {
  position: relative;
  display: inline-block;
  float: left;
  width: 25%;
  margin: 0 0 30px;
  padding: 0 15px;
  box-sizing: border-box;
}

.edgtf-content-has-sidebar .edgtf-related-posts-holder .edgtf-related-post {
  widtH: 33.33333333333333%;
}

.touch .edgtf-related-posts-holder .edgtf-related-post {
  cursor: pointer;
}

.edgtf-related-posts-holder .edgtf-related-post:hover .edgtf-related-post-image a:after {
  opacity: 1;
}

.edgtf-related-posts-holder .edgtf-related-post .edgtf-related-post-image {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  overflow: hidden;
}

.edgtf-related-posts-holder .edgtf-related-post .edgtf-related-post-image a {
  position: relative;
  display: block;
}

.edgtf-related-posts-holder .edgtf-related-post .edgtf-related-post-image a:after {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  content: '';
  background-color: rgba(32, 32, 32, 0.4);
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  transition: opacity 0.6s;
}

.edgtf-related-posts-holder .edgtf-related-post .edgtf-related-post-image img {
  display: block;
}

.edgtf-related-posts-holder .edgtf-related-post .edgtf-post-title {
  margin: 19px 0 0;
}

.edgtf-related-posts-holder .edgtf-related-post .edgtf-post-info {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  margin: 4px 0 0;
}

.edgtf-related-posts-holder .edgtf-related-post .edgtf-post-info > div {
  position: relative;
  display: inline-block;
  vertical-align: top;
  float: left;
  padding: 0 13px 0 0;
  color: inherit;
}

.edgtf-related-posts-holder .edgtf-related-post .edgtf-post-info > div:after {
  position: absolute;
  top: 0;
  right: 4px;
  content: '/';
}

.edgtf-related-posts-holder .edgtf-related-post .edgtf-post-info > div:last-child {
  padding: 0;
}

.edgtf-related-posts-holder .edgtf-related-post .edgtf-post-info > div:last-child:after {
  display: none;
}

.edgtf-related-posts-holder .edgtf-related-post .edgtf-post-info > div.edgtf-post-info-author .edgtf-post-info-author-text {
  margin: 0 3px 0 0;
}

.edgtf-related-posts-holder .edgtf-related-post .edgtf-post-info > div a {
  color: inherit;
  line-height: inherit;
  font-size: inherit;
  font-weight: inherit;
}

/* Related posts styles - end
	====================================================================== */
/* ==========================================================================
   Blog Single style - begin
   ========================================================================== */
.edgtf-blog-holder.edgtf-blog-single article {
  margin: 0 0 51px;
}

.edgtf-blog-holder.edgtf-blog-single article .edgtf-post-heading {
  margin-bottom: 36px;
}

.edgtf-blog-holder.edgtf-blog-single article .edgtf-post-text {
  padding: 0 0 21px;
}

.edgtf-blog-holder.edgtf-blog-single article .edgtf-post-info-top {
  margin-bottom: 7px;
}

.edgtf-blog-holder.edgtf-blog-single article.format-link, .edgtf-blog-holder.edgtf-blog-single article.format-quote {
  padding: 0 !important;
}

.edgtf-blog-holder.edgtf-blog-single article.format-link .edgtf-post-text, .edgtf-blog-holder.edgtf-blog-single article.format-quote .edgtf-post-text {
  padding: 26px 43px;
}

.edgtf-blog-holder.edgtf-blog-single article.format-link .edgtf-post-info-top, .edgtf-blog-holder.edgtf-blog-single article.format-quote .edgtf-post-info-top {
  margin-bottom: 2px;
}

.edgtf-blog-holder.edgtf-blog-single article .edgtf-post-info-bottom {
  border-top: 1px solid #e0e4f2;
  margin-top: 58px;
  padding-top: 20px;
}

.edgtf-blog-holder.edgtf-blog-single article .edgtf-post-info-bottom h4 {
  margin: 0;
  display: inline-block;
  padding: 0 18px;
}

.edgtf-blog-holder.edgtf-blog-single article .edgtf-post-info-bottom h4:before {
  content: '';
  height: 100%;
  position: absolute;
  left: 0;
  background-color: rgba(32, 32, 32, 0.3);
  width: 1px;
}

/* ==========================================================================
   Blog Single style - end
   ========================================================================== */
/* ==========================================================================
   Blog List shortcode global style - begin
   ========================================================================== */
.edgtf-blog-list-holder {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  clear: both;
}

.edgtf-blog-list-holder .edgtf-blog-list {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  list-style: none;
  margin: 0;
  padding: 0;
}

.edgtf-blog-list-holder .edgtf-bl-item {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.edgtf-blog-list-holder .edgtf-bli-inner {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
}

.edgtf-blog-list-holder .edgtf-bli-content {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  box-sizing: border-box;
}

.edgtf-blog-list-holder .edgtf-post-image {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  margin: 0 0 30px;
}

.edgtf-blog-list-holder .edgtf-post-image a {
  display: block;
}

.edgtf-blog-list-holder .edgtf-post-image img {
  display: block;
}

.edgtf-blog-list-holder .edgtf-bli-info {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  margin: 0 0 8px;
  clear: both;
}

.edgtf-blog-list-holder .edgtf-bli-info > div {
  position: relative;
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  padding: 0 9px 0 0;
  margin-right: 5px;
  color: rgba(32, 32, 32, 0.6);
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 300;
  text-transform: none;
  letter-spacing: .02em;
  line-height: 1.63em;
  font-style: italic;
}

.edgtf-blog-list-holder .edgtf-bli-info > div:after {
  content: '|';
  position: absolute;
  top: 0;
  right: 0;
  font-style: normal;
}

.edgtf-blog-list-holder .edgtf-bli-info > div:last-child {
  padding: 0;
  margin: 0;
}

.edgtf-blog-list-holder .edgtf-bli-info > div:last-child:after {
  content: '';
}

.edgtf-blog-list-holder .edgtf-bli-info > div a {
  color: rgba(32, 32, 32, 0.6);
}

.edgtf-blog-list-holder .edgtf-bli-info > div a:hover {
  color: #202020;
}

.edgtf-blog-list-holder .edgtf-post-title {
  margin: 0 0 4px;
}

.edgtf-blog-list-holder .edgtf-post-excerpt {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  margin: 10px 0 0;
}

.edgtf-blog-list-holder .edgtf-post-excerpt p {
  margin: 0;
}

.edgtf-blog-list-holder .edgtf-post-excerpt:after {
  content: '...';
}

.edgtf-blog-list-holder .edgtf-post-read-more-button {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  margin: 17px 0 0;
}

.edgtf-blog-list-holder .edgtf-post-read-more-button polyline {
  stroke: currentColor;
}

.edgtf-blog-list-holder.light-skin a,
.edgtf-blog-list-holder.light-skin p,
.edgtf-blog-list-holder.light-skin div,
.edgtf-blog-list-holder.light-skin .edgtf-bli-info > div a {
  color: #fff;
}

/* ==========================================================================
   Blog List shortcode global style - end
   ========================================================================== */
/* ==========================================================================
   Blog List shortcode - Alternating type style - begin
   ========================================================================== */
.edgtf-bl-alternating .edgtf-bli-content {
  position: relative;
  width: 100%;
  left: 0;
  height: 100%;
  background-image: url(../../../../../assets/img/default_pattern.png);
  padding: 10px;
  margin: 3% 0;
}

.edgtf-bl-alternating .edgtf-bli-content .edgtf-bli-content-inner {
  background-color: #fff;
  height: 100%;
}

.edgtf-bl-alternating .edgtf-bli-content .edgtf-bli-content-holder {
  width: 50%;
  padding: 3% 4%;
  box-sizing: border-box;
  left: 50%;
  position: relative;
}

.edgtf-bl-alternating .edgtf-bli-content .edgtf-post-read-more-button {
  margin-top: 7px;
}

.edgtf-bl-alternating .edgtf-bli-content .edgtf-post-read-more-button polyline {
  stroke: currentColor;
}

.edgtf-bl-alternating .edgtf-post-image {
  width: 50%;
  padding: 0 4%;
  box-sizing: border-box;
  margin: 0;
  z-index: 100;
  position: absolute;
  height: 100%;
}

.edgtf-bl-alternating .edgtf-post-image a {
  height: 100%;
}

.edgtf-bl-alternating .edgtf-post-image a img {
  height: 100%;
}

.edgtf-bl-alternating .edgtf-post-image a:after {
  width: 84%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  transform: translateX(-50%);
}

.edgtf-bl-alternating .edgtf-bl-item:nth-child(even) .edgtf-post-image {
  right: 0;
}

.edgtf-bl-alternating .edgtf-bl-item:nth-child(even) .edgtf-bli-content .edgtf-bli-content-inner .edgtf-bli-content-holder {
  left: 0;
  text-align: right;
}

.edgtf-bl-alternating .edgtf-bl-item:nth-child(even) .edgtf-btn.edgtf-btn-simple.edgtf-btn-text-on-hover .edgtf-btn-text {
  -webkit-transform: translate3d(100%, 0, 0);
  -moz-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}

.edgtf-bl-alternating .edgtf-bl-item:nth-child(even) .edgtf-btn.edgtf-btn-simple.edgtf-btn-text-on-hover .edgtf-btn-arrow {
  left: 0;
  right: auto;
  -webkit-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  transform: scaleX(-1);
}

.edgtf-bl-alternating .edgtf-bl-item:nth-child(even) .edgtf-btn.edgtf-btn-simple.edgtf-btn-text-on-hover:hover .edgtf-btn-text {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.edgtf-bl-alternating.light-skin .edgtf-bli-content .edgtf-bli-content-inner {
  background-color: #111;
}

.edgtf-bl-alternating.edgtf-show-info-on-appear .edgtf-bl-item .edgtf-bli-content-holder,
.edgtf-bl-alternating.edgtf-show-info-on-appear .edgtf-bl-item .edgtf-post-image {
  overflow: hidden;
}

.edgtf-bl-alternating.edgtf-show-info-on-appear .edgtf-bl-item:nth-child(odd) .edgtf-post-image img {
  -webkit-clip-path: inset(0 0 0 100%);
  clip-path: inset(0 0 0 100%);
}

.edgtf-bl-alternating.edgtf-show-info-on-appear .edgtf-bl-item:nth-child(odd) .edgtf-bli-content-holder-inner {
  -webkit-transform: translate3d(-110%, 0, 0);
  -moz-transform: translate3d(-110%, 0, 0);
  transform: translate3d(-110%, 0, 0);
}

.edgtf-bl-alternating.edgtf-show-info-on-appear .edgtf-bl-item:nth-child(even) .edgtf-post-image img {
  -webkit-clip-path: inset(0 100% 0 0);
  clip-path: inset(0 100% 0 0);
}

.edgtf-bl-alternating.edgtf-show-info-on-appear .edgtf-bl-item:nth-child(even) .edgtf-bli-content-holder-inner {
  -webkit-transform: translate3d(110%, 0, 0);
  -moz-transform: translate3d(110%, 0, 0);
  transform: translate3d(110%, 0, 0);
}

.no-touch .edgtf-bl-alternating.edgtf-show-info-on-appear .edgtf-bl-item .edgtf-post-image img {
  -webkit-transition: 0.7s cubic-bezier(0.6, 0.3, 0.11, 0.86);
  -moz-transition: 0.7s cubic-bezier(0.6, 0.3, 0.11, 0.86);
  transition: 0.7s cubic-bezier(0.6, 0.3, 0.11, 0.86);
}

.no-touch .edgtf-bl-alternating.edgtf-show-info-on-appear .edgtf-bl-item .edgtf-bli-content-holder-inner {
  -webkit-transition: -webkit-transform 0.35s cubic-bezier(0.71, 0.19, 0, 0.76) 0.35s;
  -moz-transition: -moz-transform 0.35s cubic-bezier(0.71, 0.19, 0, 0.76) 0.35s;
  transition: transform 0.35s cubic-bezier(0.71, 0.19, 0, 0.76) 0.35s;
}

.touch .edgtf-bl-alternating.edgtf-show-info-on-appear .edgtf-bl-item .edgtf-post-image img, .edgtf-bl-alternating.edgtf-show-info-on-appear .edgtf-bl-item.edgtf-appear .edgtf-post-image img {
  -webkit-clip-path: inset(0 0 0 0);
  clip-path: inset(0 0 0 0);
}

.touch .edgtf-bl-alternating.edgtf-show-info-on-appear .edgtf-bl-item .edgtf-bli-content-holder-inner, .edgtf-bl-alternating.edgtf-show-info-on-appear .edgtf-bl-item.edgtf-appear .edgtf-bli-content-holder-inner {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.no-touch .edgtf-ms-explorer .edgtf-bl-alternating.edgtf-show-info-on-appear .edgtf-bl-item .edgtf-post-image img {
  opacity: 0;
}

.touch .edgtf-ms-explorer .edgtf-bl-alternating.edgtf-show-info-on-appear .edgtf-bl-item .edgtf-post-image img,
.edgtf-ms-explorer .edgtf-bl-alternating.edgtf-show-info-on-appear .edgtf-bl-item.edgtf-appear .edgtf-post-image img {
  opacity: 1;
}

/* ==========================================================================
   Blog List shortcode - Alternating type style - end
   ========================================================================== */
/* ==========================================================================
   Blog List shortcode - Boxed type style - begin
   ========================================================================== */
.edgtf-blog-list-holder.edgtf-bl-boxed:not(.edgtf-bl-one-column) .edgtf-bl-item {
  float: left;
}

.edgtf-blog-list-holder.edgtf-bl-boxed.edgtf-bl-two-columns .edgtf-bl-item {
  width: 50%;
}

@media only screen and (min-width: 1025px) {
  .edgtf-blog-list-holder.edgtf-bl-boxed.edgtf-bl-two-columns .edgtf-bl-item:nth-child(2n+1) {
    clear: both;
  }
}

.edgtf-blog-list-holder.edgtf-bl-boxed.edgtf-bl-three-columns .edgtf-bl-item {
  width: 33.33333%;
}

@media only screen and (min-width: 1025px) {
  .edgtf-blog-list-holder.edgtf-bl-boxed.edgtf-bl-three-columns .edgtf-bl-item:nth-child(3n+1) {
    clear: both;
  }
}

.edgtf-blog-list-holder.edgtf-bl-boxed.edgtf-bl-four-columns .edgtf-bl-item {
  width: 25%;
}

@media only screen and (min-width: 1201px) {
  .edgtf-blog-list-holder.edgtf-bl-boxed.edgtf-bl-four-columns .edgtf-bl-item:nth-child(4n+1) {
    clear: both;
  }
}

.edgtf-blog-list-holder.edgtf-bl-boxed.edgtf-bl-five-columns .edgtf-bl-item {
  width: 20%;
}

@media only screen and (min-width: 1201px) {
  .edgtf-blog-list-holder.edgtf-bl-boxed.edgtf-bl-five-columns .edgtf-bl-item:nth-child(5n+1) {
    clear: both;
  }
}

.edgtf-blog-list-holder.edgtf-bl-boxed .edgtf-bli-content {
  padding: 40px 30px;
  background-color: #f6f6f6;
}

.edgtf-blog-list-holder.edgtf-bl-boxed .edgtf-post-image {
  margin: 0;
}

/* ==========================================================================
   Blog List shortcode - Boxed type style - end
   ========================================================================== */
/* ==========================================================================
   Blog List shortcode - Masonry type style - begin
   ========================================================================== */
.edgtf-blog-list-holder.edgtf-bl-masonry {
  transition: none !important;
  overflow: visible !important;
}

.edgtf-blog-list-holder.edgtf-bl-masonry .edgtf-blog-list {
  opacity: 0;
  -webkit-transition: opacity 0.2s ease-out;
  -moz-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out;
}

.edgtf-blog-list-holder.edgtf-bl-masonry .edgtf-bl-item {
  vertical-align: top;
  z-index: 100;
}

.edgtf-blog-list-holder.edgtf-bl-masonry .edgtf-bl-item,
.edgtf-blog-list-holder.edgtf-bl-masonry .edgtf-bl-grid-sizer {
  width: 100%;
}

.edgtf-blog-list-holder.edgtf-bl-masonry .edgtf-bl-grid-gutter {
  width: 0;
}

.edgtf-blog-list-holder.edgtf-bl-masonry.edgtf-bl-two-columns .edgtf-bl-item,
.edgtf-blog-list-holder.edgtf-bl-masonry.edgtf-bl-two-columns .edgtf-bl-grid-sizer {
  width: 50%;
}

.edgtf-blog-list-holder.edgtf-bl-masonry.edgtf-bl-three-columns .edgtf-bl-item,
.edgtf-blog-list-holder.edgtf-bl-masonry.edgtf-bl-three-columns .edgtf-bl-grid-sizer {
  width: 33.33333%;
}

.edgtf-blog-list-holder.edgtf-bl-masonry.edgtf-bl-four-columns .edgtf-bl-item,
.edgtf-blog-list-holder.edgtf-bl-masonry.edgtf-bl-four-columns .edgtf-bl-grid-sizer {
  width: 25%;
}

.edgtf-blog-list-holder.edgtf-bl-masonry.edgtf-bl-five-columns .edgtf-bl-item,
.edgtf-blog-list-holder.edgtf-bl-masonry.edgtf-bl-five-columns .edgtf-bl-grid-sizer {
  width: 20%;
}

/* ==========================================================================
   Blog List shortcode - Masonry type style - end
   ========================================================================== */
/* ==========================================================================
   Blog List shortcode - Minimal type style - begin
   ========================================================================== */
.edgtf-blog-list-holder.edgtf-bl-minimal .edgtf-post-info-date {
  display: block;
  margin: 0 0 12px;
  line-height: 1;
}

.edgtf-blog-list-holder.edgtf-bl-minimal .edgtf-post-info-date a {
  font-size: 13px;
  color: #4c4c4c;
}

.edgtf-blog-list-holder.edgtf-bl-minimal .edgtf-post-info-date a:hover {
  color: #202020;
}

/* ==========================================================================
   Blog List shortcode - Minimal type style - end
   ========================================================================== */
/* ==========================================================================
   Blog List shortcode - Simple type style - begin
   ========================================================================== */
.edgtf-blog-list-holder.edgtf-bl-simple .edgtf-post-image {
  display: table-cell;
  vertical-align: middle;
  width: 79px;
}

.edgtf-blog-list-holder.edgtf-bl-simple .edgtf-bli-content {
  display: table-cell;
  vertical-align: top;
  width: auto;
  padding-left: 20px;
}

.edgtf-blog-list-holder.edgtf-bl-simple .edgtf-bli-content .edgtf-post-title a {
  font-style: normal;
}

.edgtf-blog-list-holder.edgtf-bl-simple .edgtf-bli-content .edgtf-post-info-date {
  display: block;
  margin: 7px 0 0;
}

.edgtf-blog-list-holder.edgtf-bl-simple .edgtf-bli-content .edgtf-post-info-date a {
  color: rgba(32, 32, 32, 0.6);
  font-size: 16px;
  font-weight: 300;
  text-transform: none;
  letter-spacing: 0.02em;
  line-height: 1.63em;
  font-style: italic;
}

.edgtf-blog-list-holder.edgtf-bl-simple .edgtf-bli-content .edgtf-post-info-date a:hover {
  color: #202020;
}

/* ==========================================================================
   Blog List shortcode - Simple type style - end
   ========================================================================== */
/* ==========================================================================
   Blog List shortcode - Standard type style - begin
   ========================================================================== */
.edgtf-blog-list-holder.edgtf-bl-standard:not(.edgtf-bl-one-column) .edgtf-bl-item {
  float: left;
}

.edgtf-blog-list-holder.edgtf-bl-standard.edgtf-bl-two-columns .edgtf-bl-item {
  width: 50%;
}

@media only screen and (min-width: 1025px) {
  .edgtf-blog-list-holder.edgtf-bl-standard.edgtf-bl-two-columns .edgtf-bl-item:nth-child(2n+1) {
    clear: both;
  }
}

.edgtf-blog-list-holder.edgtf-bl-standard.edgtf-bl-three-columns .edgtf-bl-item {
  width: 33.33333%;
}

@media only screen and (min-width: 1025px) {
  .edgtf-blog-list-holder.edgtf-bl-standard.edgtf-bl-three-columns .edgtf-bl-item:nth-child(3n+1) {
    clear: both;
  }
}

.edgtf-blog-list-holder.edgtf-bl-standard.edgtf-bl-four-columns .edgtf-bl-item {
  width: 25%;
}

@media only screen and (min-width: 1281px) {
  .edgtf-blog-list-holder.edgtf-bl-standard.edgtf-bl-four-columns .edgtf-bl-item:nth-child(4n+1) {
    clear: both;
  }
}

.edgtf-blog-list-holder.edgtf-bl-standard.edgtf-bl-five-columns .edgtf-bl-item {
  width: 20%;
}

@media only screen and (min-width: 1281px) {
  .edgtf-blog-list-holder.edgtf-bl-standard.edgtf-bl-five-columns .edgtf-bl-item:nth-child(5n+1) {
    clear: both;
  }
}

/* ==========================================================================
   Blog List shortcode - Standard type style - end
   ========================================================================== */
/* ==========================================================================
   Blog List loading element style - begin
   ========================================================================== */
.edgtf-bl-loading {
  position: relative;
  display: none;
  width: 100%;
  margin: 40px 0 20px;
  text-align: center;
}

.edgtf-bl-loading.edgtf-showing {
  display: block;
}

.edgtf-bl-loading > div {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 14px;
  height: 14px;
  margin: 0 3px;
  background-color: #202020;
  border-radius: 100%;
  -webkit-animation: bl-bouncedelay 1.4s infinite ease-in-out both;
  -moz-animation: bl-bouncedelay 1.4s infinite ease-in-out both;
  animation: bl-bouncedelay 1.4s infinite ease-in-out both;
}

.edgtf-bl-loading .edgtf-bl-loading-bounce1 {
  -webkit-animation-delay: -0.32s;
  -moz-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.edgtf-bl-loading .edgtf-bl-loading-bounce2 {
  -webkit-animation-delay: -0.16s;
  -moz-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes bl-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
  }
}

@-moz-keyframes bl-bouncedelay {
  0%, 80%, 100% {
    -moz-transform: scale(0);
  }
  40% {
    -moz-transform: scale(1);
  }
}

@keyframes bl-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

/* ==========================================================================
   Blog List loading element style - end
   ========================================================================== */
/* ==========================================================================
   Blog Slider shortcode style - begin
   ========================================================================== */
.edgtf-blog-slider-holder {
  /***** Slider Type Style - begin *****/
  /***** Slider Type Style - end *****/
  /***** Carousel Type Style - begin *****/
  /***** Carousel Type Style - end *****/
  /***** Carousel Centered Type Style - begin *****/
  /***** Carousel Centered Type Style - end *****/
}

.edgtf-blog-slider-holder.edgtf-bs-slider .edgtf-blog-slider-item {
  text-align: center;
}

.touch .edgtf-blog-slider-holder.edgtf-bs-slider .edgtf-blog-slider-item {
  cursor: pointer;
}

.edgtf-blog-slider-holder.edgtf-bs-slider .edgtf-blog-slider-item:hover .edgtf-item-text-wrapper {
  opacity: 1;
}

.edgtf-blog-slider-holder.edgtf-bs-slider .edgtf-post-title {
  color: #fff;
}

.edgtf-blog-slider-holder.edgtf-bs-slider .edgtf-post-title a:hover {
  color: rgba(255, 255, 255, 0.8);
}

.edgtf-blog-slider-holder.edgtf-bs-slider .edgtf-post-read-more-button a {
  color: #fff;
}

.edgtf-blog-slider-holder.edgtf-bs-slider .edgtf-post-read-more-button a:hover {
  color: rgba(255, 255, 255, 0.8) !important;
}

.edgtf-blog-slider-holder.edgtf-bs-carousel .edgtf-item-image a:hover:after {
  opacity: 1;
}

.edgtf-blog-slider-holder.edgtf-bs-carousel .edgtf-item-image a:after {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  content: '';
  background-color: rgba(32, 32, 32, 0.4);
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  transition: opacity 0.6s;
}

.edgtf-blog-slider-holder.edgtf-bs-carousel .edgtf-post-title {
  margin: 29px 0 0;
}

.edgtf-blog-slider-holder.edgtf-bs-carousel .edgtf-post-read-more-button {
  margin: 15px 0 0;
}

.edgtf-blog-slider-holder.edgtf-bs-carousel-centered .active.center .edgtf-item-text-wrapper {
  opacity: 1;
}

.edgtf-blog-slider-holder.edgtf-bs-carousel-centered .edgtf-blog-slider-item {
  text-align: center;
}

.edgtf-blog-slider-holder.edgtf-bs-carousel-centered .edgtf-post-title {
  color: #fff;
}

.edgtf-blog-slider-holder.edgtf-bs-carousel-centered .edgtf-post-title a:hover {
  color: rgba(255, 255, 255, 0.8);
}

.edgtf-blog-slider-holder.edgtf-bs-carousel-centered .edgtf-post-read-more-button a {
  color: #fff;
}

.edgtf-blog-slider-holder.edgtf-bs-carousel-centered .edgtf-post-read-more-button a:hover {
  color: rgba(255, 255, 255, 0.8) !important;
}

.edgtf-blog-slider-holder .edgtf-blog-slider-item {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  list-style-type: none;
}

.edgtf-blog-slider-holder .edgtf-item-image {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
}

.edgtf-blog-slider-holder .edgtf-item-text-wrapper {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(32, 32, 32, 0.85);
  opacity: 0;
  -webkit-transition: opacity 0.45s ease-out;
  -moz-transition: opacity 0.45s ease-out;
  transition: opacity 0.45s ease-out;
}

.edgtf-blog-slider-holder .edgtf-item-text-holder {
  position: relative;
  display: table;
  table-layout: fixed;
  height: 100%;
  width: 100%;
}

.edgtf-blog-slider-holder .edgtf-item-text-holder-inner {
  position: relative;
  display: table-cell;
  height: 100%;
  width: 100%;
  vertical-align: middle;
  padding: 0 5%;
}

.edgtf-blog-slider-holder .edgtf-item-info-section {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  margin-bottom: 2px;
}

.edgtf-blog-slider-holder .edgtf-item-info-section > div {
  position: relative;
  display: inline-block;
  vertical-align: top;
  padding-right: 10px;
  margin-right: 3px;
  color: #fff;
  font-size: 12px;
  line-height: 24px;
}

.edgtf-blog-slider-holder .edgtf-item-info-section > div a {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  text-transform: inherit;
}

.edgtf-blog-slider-holder .edgtf-item-info-section > div a:hover {
  color: rgba(255, 255, 255, 0.8);
}

.edgtf-blog-slider-holder .edgtf-item-info-section > div:after {
  content: "/";
  position: absolute;
  top: 0;
  right: 2px;
}

.edgtf-blog-slider-holder .edgtf-item-info-section > div:last-child {
  padding-right: 0;
  margin-right: 0;
}

.edgtf-blog-slider-holder .edgtf-item-info-section > div:last-child:after {
  content: '';
}

.edgtf-blog-slider-holder .edgtf-post-title {
  margin: 0;
}

.edgtf-blog-slider-holder .edgtf-bli-excerpt {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  margin: 12px 0 0;
}

.edgtf-blog-slider-holder .edgtf-bli-excerpt p {
  margin: 0;
}

.edgtf-blog-slider-holder .edgtf-post-read-more-button {
  margin: 5px 0 0;
}

/* ==========================================================================
   Blog Slider shortcode style - end
   ========================================================================== */
/* ==========================================================================
   Blog styles - end
   ========================================================================== */

/*# sourceMappingURL=../css/blog-map.css.map */
